[submodule "godbus-dbus"]
	path = internal/dbus
	url = https://github.com/Nightdavisao/godbus-dbus
	branch = wine-workarounds
[submodule "go-mpris-server"]
	path = internal/mpris-server
	url = https://github.com/Nightdavisao/go-mpris-server
	branch = implement-position-emit